<div class='row'>
	<div class='large-6 columns' style='padding-right:0 !important'>
		<div class='featured-info'>
			<div id='emphasis'>
				CHOCOLATE WITH 
				SEA SALT
			</div>
			<div id='description'>
				Briny crunch of sea salt crystals and smooth dark chocolate - a marriage of savory and sweet that enhances every flavor note of cacao. From the jagged Maine coastline to the hand-harvested Fleur de Sel of France, salt has never tasted so sweet. 
			</div>
			<div id='more-link'>
				Share
			</div>
		</div>
		<div class='row hor-big' id='fact-vid'>
		</div>
	</div>
	<div class='large-3 columns ver-big' id='fact-pic3'>
	</div>
	<div class='large-3 columns'>
		<div class='row small-square' id='fact-pic4'></div>
		<div class='row'>
			<div class='large-12 columns small-square' id='fact-pic5'></div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='large-3 columns small-square' id='fact-pic1'>
	</div>
	<div class='large-3 columns small-square' id='fact-pic2'>
	</div>
	<div class='large-6 large-6-centered columns' style='text-align:center'>
		<div style='color:rgb(159,159,159);font-family:"brandon-reg";font-size:24px;font-style:italic;margin-top:115px;'>Beans from</div>
		<div style='color:rgb(159,159,159);font-family:"brandon-blk";font-size:35px'>MADAGASCAR</div>
		<div style='font-family:"brandon-reg";font-size:22px;font-style:italic;margin-bottom:68px'><a href="/collections/all">View products</a></div>
	</div>
</div>