<div class='row'>
	<div class='large-6 columns'>
		<div class='featured-info'>
			<div id='emphasis'>
				MAST BROTHERS
			</div>
			<div id='description'>
				Rick and Michael Mast are meticulous in their sourcing practices, supporting small farms and co-ops around the world. Props for their short ingredient list:  cacao and sugar, a true feat to achieve this smooth mouthfeel.
			</div>
			<div id='more-link'>
				View products
			</div>
		</div>
	</div>
	<div class='large-3 columns small-square-art' id='artisan-pic2'>
	</div>
	<div class='large-3 columns small-square-art' id='artisan-pic3'>
	</div>
</div>
<div class='row'>
	<div class='large-6 columns hor-big' id='artisan-pic1'></div>
	<div class='large-6 columns hor-big' id='artisan-vid'>
</div>
</div>