<div class='row' id='artisan-row'>
	<div id='hide-link' style='display:none'>{{ 'Patric' | link_to_vendor}}</div>
	<div class='large-6 columns'>
		<div class='featured-info'>
			<div id='emphasis'>
				PATRIC CHOCOLATE
			</div>
			<div id='description'>
				Patric is an American craft chocolate company that makes chocolate from the cocoa bean in Missouri. Each bar is handcrafted with beans from the Sambirano Valley in Madagascar. Patric has gone from little more than a dream to a respected artisan chocolate maker in only a few short years.
			</div>
			<div id='show-link'>
				<a href="#">View products</a>
			</div>
		</div>
	</div>
	<div class='large-3 columns small-square-art' id='artisan-pic2'>
	</div>
	<div class='large-3 columns small-square-art' id='artisan-pic3'>
	</div>
</div>
<div class='row'>
	<div class='large-6 columns hor-big' id='artisan-pic1'></div>
	<iframe class='large-6 columns hor-big' width="560" height="315" src="http://www.youtube.com/embed/KHzY88J9C1A" frameborder="0" allowfullscreen style='padding:0'></iframe>
	<!--<div class='large-6 columns hor-big' id='artisan-vid'>-->
	<br>
	<br>
	<br>
</div>
</div>

<script type="text/javascript">
	console.log($('#hide-link a').attr('href'));
	var link = $('#hide-link a').attr('href')
	$('#show-link a').attr('href', link)

	$('#artisan-row .small-square-art').css('height', $('#artisan-row').height())
</script>