<div id="col-main">

<br>

  <div class='row'>
    <div id='market-square-list'>
      <div class='market-square main-col about-link'>
        <img src='http://www.hhhhold.com/800x300' />
      </div>
      <div class='market-square main-col gifts-link'>
        <img src='http://www.hhhhold.com/800x300' />
      </div>
      <div class='market-square last-col bars-link'>
        <img src='http://www.hhhhold.com/800x300' />
      </div>
    </div>
  </div>
  
</div><!-- /#col-main -->
