<div id="col-main">

<br>

  <div class='row'>
    <div id='market-square-list'>
      <div class='market-square main-col bars-link'>
        <div class='inner-box'>
          <div class='float-title'><a href="#">BARS</a></div>
        </div>
      </div>
      <div class='market-square main-col shipping-link'>
        <div class='inner-box'>
          <div class='float-title'>FREE SHIPPING OVER $50</div>
        </div>
      </div>
      <div class='market-square last-col gifts-link'>
        <div class='inner-box'>
          <div class='float-title'><a href="#">GIFTS</a></div>
        </div>
      </div>
    </div>
  </div>

</div><!-- /#col-main -->
