<div id="col-main">

	<!-- about section -->
	<section id='about-section'>
	  <div class='row minor-break'>
	    OUR PHILOSOPHY
	  </div>
	  <div class='row featured' id='about-desc'>
			<div class='large-6 columns' style='padding-right:90px !important'>
				<div class='featured-info'>
					<div id='emphasis'>
						WHAT IS BAR & BEAN?
					</div>
					<div id='description'>
						Bar & Bean is the online marketplace for hand-crafted chocolate bars. We're putting together a collection of the most interesting chocolate bars in the world and connecting buyers to those brands and the makers that craft them. 
						<br>
						<br>
						Our selection is growing everyday so make sure to check back often, or email us to let us know what you'd like to see!
					</div>
					<div id='emphasis'>
						WHAT MAKES CHOCOLATE DELICIOUS HAPPENS WELL BEFORE THE BEANS ARE GROUND OR THE BAR IS WRAPPED.
					</div>
					<div id='description'>
						Each step is as influential to the taste as the last. Every hunger pang an opportunity to taste something sweeter.  Every morsel of information: origin, process, batch. These aren’t empty claims. They’re taste. And they matter differently to each of us.  And those differences should be celebrated. 
						<br>
						<br>
						It’s with this philospohy that we built this site. We're chocolate lovers, and we're excited about the renaissance in chocolate. Flavor profiles are more complex, awareness is at an all-time high, North America is leading the way, and the chocolate bar is quickly becoming the flag bearer of a movement. 
						<br>
						<br>
						Our goal is to bring you the most interesting chocolate that we can find.
					</div>
				</div>
			</div>
			<div class='large-6 columns' id='about-pic-1'>
			</div>
	  </div>
	</section>
	<section id='inspiration-section'>
	  <div class='row minor-break'>
	    OUR INSPIRATION
	  </div>
	  <div class='row' id='row-process-1'>
	  	<div class='large-6 columns' id='about-pic-2'>
	  	</div>
	  	<div class='large-6 columns'>
			<div class='featured-info'>
				<div id='emphasis'>
					1. HARVEST
				</div>
				<div id='description'>
					Cacao fruit, or pods are cut from Cacao Trees and split open to collect Cocoa beans and pulp. There are approximately 40 beans in each pod.
				</div>
				<div id='emphasis'>
					2. FERMENTATION
				</div>
				<div id='description'>
					At the source - This is the stage where beans first begin to develop their chocolate flavor. The beans and pulp are left in sweat boxes or heaps out in the open to ferment for on average up to eight days. Fermentation is paramount to flavor, each chocolate maker has a methodical process, while large candy companies tend to under ferment their beans. 
				</div>
				<div id='emphasis'>
					3. DRY
				</div>
				<div id='description'>
					At the source - the beans are laid out in the sun and dried to prevent mold formation. The chocolate maker can now ship the beans to their factory. 
				</div>
				<div id='emphasis'>
					4. SORT
				</div>
				<div id='description'>
					Not all Cocoa beans are perfect, it is important to sort out the bad ones. All the bars we have chosen are made from hand sorted beans.
				</div>
			</div>
	  	</div>
	  </div>
	  <div class='row' id='row-process-2'>
	  	<div class='large-6 columns'>
			<div class='featured-info'>
				<div id='emphasis'>
					5. ROAST
				</div>
				<div id='description'>
					This stage develops the chocolate flavor that was first formed during fermentation. As much as ten seconds of roast time can have a significant effect on a flavor profile. 
				</div>
				<div id='emphasis'>
					6. CRACK AND WINNOW
				</div>
				<div id='description'>
					Its all about the nib. The cocoa bean consists of two parts, the nib encased in the hull or shell. The nib is the stuff of chocolate and, the hull, not for eating, but can be recycled for good mulch. In order to separate the two, the entire bean is cracked apart then blown up into a tube, where the hull is sucked off the top, and the heavier nib drops down into a collecting area. Nibs are edible, and can be purchased in high end shops. They have a chocolatey taste at this point but are not at all sweet.
				</div>
				<div id='emphasis'>
					7. GRIND AND MIX
				</div>
				<div id='description'>
					Nibs are finely ground into a paste of cocoa butter and cocoa solids, called cocoa liquor. Cane sugar is mixed in and at this point milk for milk chocolate. ( The Cocoa butter can be removed with a press to create hard solid disks which can be pulverized into Cocoa powder.) 
				</div>
				<div id='emphasis'>
					8. REFINE AND CONCH
				</div>
				<div id='description'>
					The cocoa and sugar is placed in a special agitator that further grinds and aerates the mixture into 20 micron or smaller particles to create the desired melt and flow. This process can go on for six to seventy two hours depending on the chocolate maker. Only a handful of chocolate makers completely skip this stage to leave a more textured mouth feel. 
				</div>
			</div>
	  	</div>
	  	<div class='large-6 columns' id='about-pic-3'>
	  	</div>
	  </div>
	  <div class='row' id='row-process-3'>
	  	<div class='large-6 columns' id='about-pic-4'>
	  	</div>
	  	<div class='large-6 columns'>
			<div class='featured-info'>
				<div id='emphasis'>
					9. AGE AND TEMPER
				</div>
				<div id='description'>
					Like a fine wine, many chocolate makers let the chocolate age to further develop the flavor profile. The mixture is then also heated and cooled in order to stabilize the fat crystals that will give the bar that distinctive chocolate snap sound. 
				</div>
				<div id='emphasis'>
					10. MOLD, WRAP, AND EAT
				</div>
				<div id='description'>
					The refined and aged mixture is poured into molds, cooled and wrapped for enjoyment and appreciation of a process, from source to savor. 
				</div>
			</div>
	  	</div>
	  </div>
	</section>
</div>

<script type="text/javascript">
	$('#about-pic-1').css('height', $('#about-desc').height())
	$('#about-pic-2').css('height', $('#row-process-1').height())
	$('#about-pic-3').css('height', $('#row-process-2').height())
	$('#about-pic-4').css('height', $('#row-process-3').height())
</script>