<div id="col-main">

	<!-- about section -->
	<section id='about-section'>
	  <div class='row minor-break'>
	    OUR PHILOSOPHY
	  </div>
	  <div class='row featured'>
	    <div class='row'>
			<div class='large-6 columns' style='padding-right:90px !important'>
				<div class='featured-info'>
					<div id='emphasis'>
						WHAT MAKES CHOCOLATE DELICIOUS HAPPENS WELL BEFORE THE BEANS ARE GROUND OR THE BAR IS WRAPPED.
					</div>
					<div id='description'>
						Each step is as influential to the taste as the last. Every hunger pang an opportunity to taste something sweeter.  Every morsel of information: origin, process, batch. These aren’t empty claims. They’re taste. And they matter differently to each of us.  And those differences should be celebrated. 
						<br>
						<br>
						It’s with this philospohy that we built this site. We're chocolate lovers, and we're excited about the renaissance in chocolate. Flavor profiles are more complex, awareness is at an all-time high, North America is leading the way, and the chocolate bar is quickly becoming the flag bearer of a movement. Take a look around and let us know what you think. Let's celebrate together.
					</div>
				</div>
			</div>
			<div class='large-3 columns ver-big' id='fact-pic3'>
			</div>
			<div class='large-3 columns'>
				<div class='row small-square' id='fact-pic4'></div>
				<div class='row'>
					<div class='large-12 columns small-square' id='fact-pic5'></div>
				</div>
			</div>
		</div>
	  </div>
	</section>

</div>