<div id="col-main">
	<!-- help section -->
	<section id='about-section'>
	  <div class='row minor-break'>
	  	CONTACT US
	  </div>
	  <div class='row featured'>
	    <div class='row'>
			<div class='large-6 columns' style='padding-right:0 !important'>
				<div class='featured-info'>
					<div id='emphasis'>
						VOICE
					</div>
					<div id='description'>
						Question about how a bar tastes? We'll taste it for you. Need suggestions for a special someone? We'll pick out just the right item. Just want to talk to a fellow chocoholic on the phone? We're always happy to chat. Give us a call at 1-877-BAR-BEAN (227-2326). If we aren't on deck, we'll call you back as soon as humanely possible.
					</div>
					<div id='emphasis'>
						EMAIL
					</div>
					<div id='description'>
						No phone near or your question is less urgent? Shoot us an email at box@barandbean.com. We'll get you answers and follow up.
					</div>

				</div>
			</div>

			<div class='large-6 columns' style='padding-right:0 !important'>
				<div class='featured-info'>
					<div id='emphasis'>
						POSTAGE
					</div>
					<div id='description'>
						Phone or email too impersonal? Want to send us something sweet? We also have a physical address. Address anything you're sending our way to : 
						<br>
						<br>
						BAR & BEAN
						<br>
						39812 MISSION BLVD
						<br>
						FREMONT, CA 94131
					</div>
					<div id='emphasis'>
						QUESTIONS, COMMENTS, COMPLAINTS
					</div>
					<div id='description'>
						If you're unsatisfied with your order shoot us an email at support@barandbean.com
					</div>
					<div id='emphasis'>
						FOR ANY OTHER INQUIRIES (PRESS, ETC.), EMAIL US AT 					
					</div>
					<div id='description'>
						info@barandbean.com					
					</div>
				</div>
			</div>
		</div>
	  </div>
	</section>
</div>