<div id="col-main">
  {% form 'contact' %}
    {% if form.posted_successfully? %}
      <div style='background-color:rgb(154,205,50)'>Thanks for contacting us! We'll get back to you as soon as possible.</div>
    {% endif %}
    
    {% if form.errors %}
      <div style='background-color:rgb(205,92,92)'>
      {% for field in form.errors %}
        {{ field }} - {{ form.errors.messages[field] }}
      {% endfor %}
  	   </div>
    {% endif %}

   	<div class='row minor-break'>
	    WHAT'S MISSING FROM OUR COLLECTION?
	</div>
    <table style='padding-top:10px'>
      <tr>
        <td>Email:</td>
        <td><input style='width:50%' type="text" id="contact_email" name="contact[email]"/></td>
      </tr>
      <tr>
        <td>Which bars would you like to see on Bar & Bean?:</td>
        <td>
          <textarea id="contact_request" name="contact[request]"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2"><input type='submit' class="submit" /></td>
      </tr>
    </table>
  {% endform %}
</div>