<div id="col-main">

	<!-- about section -->
	<section id='shipping-section'>
	  <div class='row minor-break'>
	    CHOCOLATE DELIVERY
	  </div>
	  <div class='row featured'>
	    <div class='row'>
			<div class='large-12 columns' style='padding-right:90px !important'>
				<div class='featured-info'>
					<div id='emphasis'>
						WE CURRENTLY SHIP WITHIN THE USA EXCLUDING HAWAII AND ALASKA
					</div>
					<div id='description'>
						Our bars will arrive as perfectly as when they left the mold, and as fresh as when you buy them off the shelf. In the summer time, we ship them with refrigerated packs to ensure integrity for immediate indulgence. 
						<br>
						<br>
						The shipping cost includes any necessary insulation and ice packs for warm-weather shipping.
						<br>
						<br>
						There are 2 simple shipping levels:
						<br>
						<br>
						<ul style='padding-left:2em'>
							<li>Below 5 bars, USPS ground shipping is $10 flat.</li>
							<li>Above 5 bars, USPS ground shipping is FREE.</li>
						</ul>
						Your chocolate will arrive within 5 days. Guaranteed 3-day shipping via UPS is $20 for all orders.
						<br>
						<br>
						For any questions about our shipping and handling policy, give us a call at (415) 237-3068 or email us at info@barandbean.com
					</div>
					<div id='emphasis'>
						WARM WEATHER SHIPPING
					</div>
					<div id='description'>
						In the summer months, all orders will ship on Mondays and Tuesdays so that they don't sit around in hot warehouses on the way to you.
						<br>
						<br>
						The weather is something that is out of our control so may in extreme cases damage your purchase. If by chance your purchase is damaged, please contact customer service at (415) 237-3068 or email at box@barandbean.com for a replacement or a refund.
					</div>
				</div>

			</div>
		</div>
	  </div>
	</section>
</div>